PORT=4000
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password
MONGODB_URI=your_mongodb_connection_url
MONGODB_DB_NAME=study_program
MONGODB_COLLECTION=languages
MONGODB_USERS_COLLECTION=users
MONGODB_PROGRAMS_COLLECTION=programs
MONGODB_UNITS_COLLECTION=units
